repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: docs/
      - id: trailing-whitespace
        exclude: docs/
      - id: check-merge-conflict
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0 # Use the latest version
    hooks:
      - id: golangci-lint
        args: [--fix]
